@using SilentAuction.ViewModels;
@using SilentAuction.Controllers;

@model SilentAuction.Models.BidHistory
@{
    ViewData["Title"] = "Bid Detail";
}

<h2>BidDetail</h2>

<div>
    <h4>Listing Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Item.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Item.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Item.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Item.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Auctions" asp-action="SilentAuction" asp-route-id="@(Model.Listing.AuctionId)">Return to Listings</a>
</div>
