@using SilentAuction.ViewModels;
@using SilentAuction.Controllers;
@model AuctionViewModel
@{
    ViewData["Title"] = "Silent Auction";
}

<h2>@ViewData["Title"]</h2>

<div class="container">

    <div class="hero-unit text-center panel panel-heading">
        <h1>@Model.AuctionName</h1>
        <h4>End Date: @Model.AuctionEndDate</h4>
        <h6 id="time"></h6>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form asp-controller="Auctions" asp-action="SilentAuction" method="get">
                        <div>
                            <label for="searchQuery">Find by Name or Description: </label>
                            <input class="form-control" type="text" id="searchQuery" name="searchQuery" value="@Model.SearchQuery" />
                            <input type="submit" value="Search" class="btn btn-default btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <label for="Pages">Items Per Page</label>
                @Html.DropDownListFor(m => m.PageList, (SelectList)ViewBag.pageSelectList)
            </div>
        </div>
    </div>

    @foreach (var listing in Model.Listings)
            {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <!--Use JQuery and bootstrap carousel???? for the div of this to get a click and look at images-->
                        <div>
                            @{
                                var image = listing.Item.ItemMedia.FirstOrDefault();
                            }
                            @if (image != null)
                            {
                                <img class="media-object" src="@Url.Action(nameof(MediaController.Thumbnail), "Media", values: new { id = image.MediaId})" />
                            }
                            else
                            {
                                <img class="media-object" src="~/images/no-image.jpg" />
                            }
                        </div>
                    </div>
                    <div class="media-body">
                        <ul>
                            <li>Starting Bid: @Html.DisplayFor(modelItem => listing.Item.Name)</li>
                            <li>@Html.DisplayFor(modelItem => listing.Item.Description)</li>
                            <li>Increment: @Html.DisplayFor(modelItem => listing.StartingBid)</li>
                            <li>@Html.DisplayFor(modelItem => listing.ItemId)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
                                }
</div>


<div>
    <hr />
    <a asp-controller="Home" asp-action="Index">Back to Admin Home</a>
</div>

@section Scripts {
    <script type="text/javascript">
        var myVar = setInterval(myTimer, 1000);

        function myTimer() {
            var d = new Date();
            document.getElementById("time").innerHTML = d.toLocaleTimeString();
        }
    </script>
}