@using SilentAuction.ViewModels;
@using SilentAuction.Controllers;
@using System.Globalization;
@model AuctionViewModel
@{
    ViewData["Title"] = "Silent Auction";
}

<h2>@ViewData["Title"]</h2>

<div class="container">

    <div class="hero-unit text-center panel panel-heading">
        <h1>@Model.AuctionName</h1>
        <h2>End Date: @Model.AuctionEndDate</h2>
        <div id="time"></div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form asp-controller="Auctions" asp-action="SilentAuction" method="get">
                        <div>
                            <label for="searchQuery">Find by Name or Description: </label>
                            <input class="form-control" type="text" id="searchQuery" name="searchQuery" value="@Model.SearchQuery" />
                            <input type="submit" value="Search" class="btn btn-default btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2">Items Per Page</label>
                    <a href="@Url.Action(nameof(AuctionsController.SilentAuction), "Auctions", new { searchQuery = Model.SearchQuery, pageSize = 5 })" class="btn btn-default">5</a>
                    <a href="@Url.Action(nameof(AuctionsController.SilentAuction), "Auctions", new { searchQuery = Model.SearchQuery, pageSize = 10 })" class="btn btn-default">10</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <ul class="nav nav-pills">
                <li class="@(Model.CategoryId == null ? "active" : null)"><a href="@Url.Action(nameof(AuctionsController.SilentAuction), "Auctions")">All Listings</a></li>
                @foreach (var category in Model.Categories)
                {
                    <li class="@(category.Id == Model.CategoryId ? "active" : null)">
                        <a href="@Url.Action(nameof(AuctionsController.SilentAuction), "Auctions", new { categoryId = category.Id, searchQuery = Model.SearchQuery })">@category.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>



    @foreach (var listing in Model.Listings)
            {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <!--Use JQuery and bootstrap carousel???? for the div of this to get a click and look at images-->
                        <div>
                            @{
                                var image = listing.Item.ItemMedia.FirstOrDefault();
                            }
                            @if (image != null)
                            {
                                <img class="media-object" src="@Url.Action(nameof(MediaController.Thumbnail), "Media", values: new { id = image.MediaId})" />
                            }
                            else
                            {
                                <img class="media-object" src="~/images/no-image.jpg" />
                            }
                        </div>
                        <p>Category: @listing.Item.Category.Name</p>
                    </div>
                    <div class="media-body">

                        <div class="col-md-6"> 
                            <p>Name: @Html.DisplayFor(modelItem => listing.Item.Name)</p>
                            <p>Description: @Html.DisplayFor(modelItem => listing.Item.Description)</p>
                            <p>Sponsor: @Html.DisplayFor(modelItem => listing.Item.Sponsor.Name)</p>
                        </div>

                        <div class="col-md-2">
                            <p>Retail Price: @listing.Item.RetailPrice.ToString("C", new CultureInfo("th-TH"))</p>
                        </div>

                        <div class="col-md-2">
                            <p>Current Bid: @listing.MinimumBid.ToString("C", new CultureInfo("th-TH"))</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                }

    @{
        var prevDisabled = !Model.Listings.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Listings.HasNextPage ? "disabled" : "";
    }

    <a asp-controller="Auctions"
       asp-action="SilentAuction"
       asp-route-id="@Model.Id"
       asp-route-categoryId="@Model.CategoryId"
       asp-route-pageIndex="@(Model.Listings.PageIndex - 1)"
       asp-route-searchQuery="@Model.SearchQuery"
       asp-route-pageSize="@Model.PageSize"
       class="btn btn-default @prevDisabled">
        Previous

    </a>
    <a asp-controller="Auctions"
       asp-action="SilentAuction"
       asp-route-id="@Model.Id"
       asp-route-categoryId="@Model.CategoryId"
       asp-route-pageIndex="@(Model.Listings.PageIndex + 1)"
       asp-route-searchQuery="@Model.SearchQuery"
       asp-route-pageSize="@Model.PageSize"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>


<div>
    <hr />
    <a asp-controller="Home" asp-action="Index">Back to Admin Home</a>
</div>

@section Scripts {
    <script type="text/javascript">
        @{
        string endDatestring = Model.AuctionEndDate;
        int indexOfSecondWordStart = endDatestring.IndexOf(" ") + 1;
        endDatestring = endDatestring.Substring(indexOfSecondWordStart);
        @Html.Raw("var endDateString = '")
        @Html.Raw(endDatestring)
        @Html.Raw("';")
    }
        var timerToEnd = setInterval(myTimer, 1000);
        var endDate = new Date(Date.parse(endDateString));

        function myTimer() {
            var currentDate = new Date();
            var oneDay = 1000 * 60 * 60 * 24;
            var oneHour = 1000 * 60 * 60;
            var oneMinuet = 1000 * 60;
            var differenceInMilliseconds = endDate.getTime() - currentDate.getTime();


            var days = Math.round(differenceInMilliseconds / oneDay);
            var hours = Math.round((differenceInMilliseconds % oneDay) / oneHour);
            var minutes = Math.round(((differenceInMilliseconds % oneDay) % oneHour) / oneMinuet);
            var seconds = Math.round((((differenceInMilliseconds % oneDay) % oneHour) % oneMinuet) / 1000);

           // var days = Math.round(differenceInMilliseconds / oneDay);
            //var hours = Math.round(differenceInMilliseconds / (oneDay / 24));
            //var minutes = Math.round(differenceInMilliseconds / (oneDay / 24 / 60));
           // var seconds = Math.round(differenceInMilliseconds / (oneDay / 24 / 60 / 60));

            document.getElementById("time").innerHTML = "<h3><strong>Time Till Auction End:</strong> " + days + ":" + hours + ":" + minutes + ":" + seconds + "</h3>";
        }
    </script>
}